.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageTitle {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  width: min(100vw - 4rem, 500px);
  margin-inline: auto;
  margin-top: 1rem;
}

.questionContainer {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  width: min(100vw - 4rem, 500px);
  margin-inline: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.questionBox {
  border: 1px solid black;
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: min(100vw - 4rem, 500px);
  margin-inline: auto;
  margin-bottom: 1rem;
}

