.item-container {
  /* background: red; */
  display: flex;
  align-items: center;
  gap: 25px;
}

.item-icon {
  font-size: 50px;
  color: #828282;
  display: grid;
  place-items: center;
}

.item-question {
  font-size: 30px;
  /* background-color: antiquewhite; */
  color: #828282;
  display: grid;
  place-items: center;
  flex-grow: 1;
}